/* palette from Kuler, light to dark */
/* #d3d3d3, #c0c0c0, #808080, #BF7C41, #696969 */

body {
	background-color: #d3d3d3;
}

/* navigation menu */
.topnav {
  background-color: #696969;
  overflow: hidden;
  font-family: garamond;
}

.topnav a {
  float: left;
  color: #d3d3d3;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #d3d3d3;
  color: #696969;
}

.topnav a.active {
  background-color: #808080;
  color: #d3d3d3;
}


/* headings, text, and alignment */
h1 {
	color: #808080;
	font-family: garamond;
	text-align: center;
	font-size: 22px;
}

h2 {
	color: #696969;
	font-family: garamond;
	text-align: center;
	font-size: 30px;
}

p {
	color: black;
	font-family: garamond;
	font-size: 18px;
}

p.center {
	text-align: center;
}

p.strong {
	font-weight: bold;
}

footer {
	color: black;
	font-family: garamond;
	text-align: center;
}

ul {
	color: #696969;
	font-family: garamond;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/* tables */

.table_list {
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
}

tr {
	text-align: center;
}

th {
	padding: 0.1em 1em;
	color: white;
	background-color: black;
	font-weight: bold;
	font-family:garamond;
}

td {
	border: 1px solid #d3d3d3;
	padding: 10px 10px;
	font-family:garamond;
}


.table_main {
	border: 4px groove #696969;
	background-color: #d3d3d3;
	width: 800px;
	margin-left: auto;
	margin-right: auto;
}
						
tr:nth-child(odd) {background-color: #d3d3d3;}
tr:nth-child(even) {background-color: #c0c0c0;}

/* forms */

fieldset {
	padding: 0 1em 1em 1em;
	font-family: garamond;
	width: 800px;
	margin-left: auto;
	margin-right: auto;
	border: #808080 1px solid;
}

legend {
	padding: 1em;
	font-family: garamond;
	font-weight: bold;
}

label.left {
	float: left;
	width: 14em;
}

input.center {
	width: 14em;
}

input.reset {
	float: right;
	width: 8em;
}

/* misc */

.center_big {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

ul {
	list-style-position: inside;
	text-align: center;
	color: black;
}


/* fun hr stylization found on developer.mozilla.org */
hr {
    border: none;
    border-top: 1px solid #696969;
    color: #333;
    overflow: visible;
    text-align: center;
    height: 5px;
}

hr:after {
    background: #d3d3d3;
    content: '✵';
    padding: 0 4px;
    position: relative;
    top: -13px;
}

#sci_fi_collage_img_map {
	width: 65%; 
	height: auto;
}

iframe { 
	border: none;
}