// custom variables
$primary: #5c3e1f;
$light: #e2d0be;

// character card dimensions
.char-card {
  width: 18rem;
}

// anchor hoverover color
a {
    -webkit-transition: color 1s;
    transition: color 1s!important;
}
a:hover {
    color: rgb(169, 155, 133)!important;
}



// carousel
.carousel {
    position: relative;
  }
  
  .carousel.pointer-event {
    touch-action: pan-y;
  }
  
  .carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
  }
  .carousel-inner::after {
    display: block;
    clear: both;
    content: "";
  }
  
  .carousel-item {
    position: relative;
    display: none;
    float: left;
    width: 100%;
    margin-right: -100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: transform 0.6s ease-in-out;
  }

// button text
.button,.btn {
    font-family: "Verdana";
    }

// meet.html profiles
.left-pfp {
  width: 15%;
  float: left;
}
.right-pfp {
  width: 15%;
  float: right;
}

// story.html photos
.width28percent {
  width: 28%;
}
.width24percent {
  width: 24%;
}
.width20percent {
  width: 20%;
}

.img-border {
  border: 5px solid #5c3e1f;
}

//shop images
.shop-img {
  width: 400px;
}


//import the functions & variables
@import '../node_modules/bootstrap/scss/_functions';
@import '../node_modules/bootstrap/scss/_variables';

// create and add custom colors
$custom-theme-colors: (
    "altprimary": brown,
    "altlight": brown,
);

$theme-colors: map-merge($custom-theme-colors, $theme-colors);

.navbar-brand,h1,h3,h4,h5,h6 {
    font-weight: 500;
    font-family: "Georgia";
    }

// footer background
.footer {
  background-color: #B3A697;
}

// import bootstrap
@import '../node_modules/bootstrap/scss/bootstrap';
