// custom variables
$primary: #5c3e1f;
$light: #e2d0be;


.carousel {
    position: relative;
  }
  
  .carousel.pointer-event {
    touch-action: pan-y;
  }
  
  .carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
  }
  .carousel-inner::after {
    display: block;
    clear: both;
    content: "";
  }
  
  
  .carousel-item {
    position: relative;
    display: none;
    float: left;
    width: 100%;
    margin-right: -100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: transform 0.6s ease-in-out;
  }

// button text
.button,.btn {
    font-family: "Verdana";
    }

//import the functions & variables
@import '../node_modules/bootstrap/scss/_functions';
@import '../node_modules/bootstrap/scss/_variables';

// create and add custom colors
$custom-theme-colors: (
    "altprimary": brown,
    "altlight": brown,
);

$theme-colors: map-merge($custom-theme-colors, $theme-colors);

.navbar-brand,h1,h3,h4,h5,h6 {
    font-weight: 500;
    font-family: "Georgia";
    }

// import bootstrap
@import '../node_modules/bootstrap/scss/bootstrap';